{%- set tempopl = [] %} 
{%- set tempopd = {} %}
     {%- for column in vnis.list %}
         {%- set vnipars = [] %}
         {%- set vniparsd = {} %}
         {%- set vnipars = vniparsd.update({"vlan_id": column['Vlan ID']} ) %}
         {%- set vnipars = vniparsd.update({"name": column['Vlan Name']} ) %}
         {%- set vnipars = vniparsd.update({"vniid": column['VNI ID']} ) %}
         {%- set vnipars = vniparsd.update({"switches": column['Switches']} ) %}
         {%- set vnipars = vniparsd.update({"sz": column['VRF']} ) %}
         {%- if column['Virtual Gateway IP'] | length > 7 %}
             {%- set vnipars = vniparsd.update({"ipv4_gw": column['Virtual Gateway IP']} ) %}
         {%- endif %}
         {%- if column['IPv4 Subnet'] | length > 7 %}
             {%- set vnipars = vniparsd.update({"ip_subnet": column['IPv4 Subnet']} ) %}
         {%- endif %}
         {%- set tempopl = tempopl.append(vniparsd) %}
      {%- endfor %}
{{ tempopl }}
