{"query": "match(node('system', name='system', role=is_in(['leaf', 'access']), deploy_mode='deploy').in_('composed_of_systems').node('redundancy_group', name='esi_pair', rg_type='esi').out('hosted_interfaces').node('interface', name='virtual_pc', if_type='port_channel').out('composed_of').node('interface', if_type='port_channel').out('composed_of').node('interface', name='intf', if_name=not_none(), operation_state='up').out('link').node('link', name='link').in_('link').node('interface').in_('hosted_interfaces').node('system', name='remote_system', label='{{ gen_system_label }}',role=is_in(['leaf', 'access', 'generic'])).where(lambda system, remote_system: system.role != remote_system.role, ),node('system', name='system').out('hosted_interfaces').node('interface', name='intf', if_name=not_none()))"}
