{
    "links": [
      {
        "lag_mode": null,
        "link_group_label": null,
        "switch": {
          "system_id": "{{ switch_id }}",
          "transformation_id": 2,
          "if_name": "{{ switch_if_name }}"
        },
        "system": {
          "system_id": null
        }
      }
    ],
    "new_systems": [
      {
        "system_type": "server",
        {% if interface_tags is defined %}
        "tags":
          [
          {%- for tagv in interface_tags %}
           "{{ tagv }}"{%- if not loop.last %},{% endif %}
          {%- endfor %}
          ],
        {% endif %}
        "hostname": "{{ gen_system_label }}",
        "label": "{{ gen_system_label }}",
        "logical_device": {
          "id": "AOS-1x{{ interface_speed }}-1",
          "display_name": "AOS-1x{{ interface_speed }}-1",
          "panels": [
            {
              "port_groups": [
                {
                  "roles": [
                    "leaf",
                    "access"
                  ],
                  "count": 2,
                  "speed": {
                    "value": {{ interface_speed }},
                    "unit": "G"
                  }
                }
              ],
              "port_indexing": {
                "schema": "absolute",
                "order": "T-B, L-R",
                "start_index": 1
              },
              "panel_layout": {
                "row_count": 1,
                "column_count": 2
              }
            }
          ]
        },
        "port_channel_id_min": 0,
        "port_channel_id_max": 0
      }
    ]
  }
